/* CONTAINER
 * Let's align all the components we once created.
============================================================================= */



// CONTAINER FIXED
// =====================================

.l-container__header {
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;

  @media (min-width: $break-md-min) {
    position: fixed;
  }
}

.l-container__footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-footer;

  @media (min-width: $break-md-min) {
    position: fixed;
  }
}

.l-container__sidebar {
  position: fixed;
  display: none;
  top: 3.7rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-nav-sidebar;

  &.is-visible {
    display: block;
  }

  @media (min-width: $break-sm-min) {
    top: 4.5rem;
  }

  @media (min-width: $break-md-min) {
    top: 4rem;
  }

  @media (min-width: $break-lg-min) {
    display: block;
    width: 280px;
  }
}



// Some other stuff
// =====================================

.l-container__content {
  @media (min-width: $break-md-min) {
    height: 100vh;
    padding-top: 4rem;
  }
}

.l-container__main {
  @media (min-width: $break-md-min) {
    padding-bottom: 2rem;
  }
}

.l-container__main--sidebar {
  @media (min-width: $break-lg-min) {
    margin-left: 280px;
  }
}
