/* CONTAINER
 * Let's align all the components we once created.
============================================================================= */



// CONTAINER FIXED
// =====================================

.l-container__header {
  top: 0;
  left: 0;
  right: 0;
  z-index: $z-index-header;

  @media (min-width: $break-md-min) {
    position: fixed;
  }
}

.l-container__footer {
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-footer;

  @media (min-width: $break-md-min) {
    position: fixed;
  }
}

.l-container__sidebar {
  position: fixed;
  width: 75%;
  top: 3.7rem; // Magic number for header height
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);

  z-index: $z-index-nav-sidebar;

  transition: transform 0.2s;
  will-change: transform;

  &.is-visible {
    transform: translateX(0);
  }

  @media (min-width: $break-sm-min) {
    width: 60%;
    top: 4.5rem; // Magic number for header height
  }

  @media (min-width: $break-md-min) {
    width: 50%;
    top: 4rem; // Magic number vor header height
  }

  @media (min-width: $break-lg-min) {
    width: 280px;
    transform: none;
  }
}



// Some other stuff
// =====================================

.l-container__content {
  @media (min-width: $break-md-min) {
    height: 100vh;
    padding-top: 4rem;
  }
}

.l-container__main {
  @media (min-width: $break-md-min) {
    padding-bottom: 2rem;
  }
}

.l-container__main--sidebar {
  @media (min-width: $break-lg-min) {
    margin-left: 280px;
  }
}
