/* LOGIN
 * Let's align all the components we once created.
============================================================================= */



// LOGIN LOGO
// =====================================

.l-login__logo {
  margin: 1rem;

  @media (min-width: $break-sm-min) {
    margin: 2rem;
  }
}



// LOGIN FORM
// =====================================

.l-login__form {
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}



// LOGIN FOOTER
// =====================================

.l-login__footer {
  @media (min-width: $break-md-min) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
