<div class="c-box">
  <h3 class="c-box__title">Login</h3>
  <div class="c-box__content">
    <form>
      <label for="user" class="u-sr-only">Username</label>
      <input type="text" id="user" placeholder="Username">

      <label for="password" class="u-sr-only">Password</label>
      <input type="password" id="password" placeholder="Password">

      <input type="submit" value="Submit" class="c-button c-button--highlight">
      <a href="#" class="c-button-additional-link">Forgot password?</a>
    </form>
  </div>
</div>
