<div class="c-box">
  <h3 class="c-box__title">Settings</h3>
  <div class="c-box__content">
    <form>
      <label for="password1" class="u-sr-only">Password</label>
      <input type="password" id="password1" placeholder="Password">

      <label for="password2" class="u-sr-only">Repeat Password</label>
      <input type="password" id="password2" placeholder="Repeat Password">

      <label for="forward" class="u-sr-only">Forward</label>
      <input type="email" id="forward" placeholder="Forward">

      <input type="checkbox" id="catch-all">
      <label for="catch-all">Catch-All</label>
    </form>
  </div>
</div>
