<div class="c-dropdown js-form-autocomplete">
  <label for="domain" class="u-sr-only">Search Domain</label>
  <input type="text" id="domain" placeholder="Search Domain" class="c-input--dark c-dropdown__input js-form-autocomplete-input">

  <div class="c-dropdown__panel c-dropdown__panel--full js-form-autocomplete-panel">
    <ul class="c-dropdown__list">
      <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">awesome-pictures.com</a></li>
      <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">business.biz</a></li>
      <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">crazy-professor.net</a></li>
      <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">domain-example.hamburg</a></li>
      <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">example-domain-name.com</a></li>

      <li class="c-dropdown__item"><a href="#" class="c-dropdown__link c-dropdown__link--muted">Footer Link</a></li>
    </ul>
  </div>
</div>
