<footer class="c-footer u-sr-only-below-md">
  {{> includes/logo-kapp-hamburg}}

  <nav class="c-footer-nav">
    <ul class="c-footer-nav__list">
      <li class="c-footer-nav__item">
        <a href="#" class="c-footer-nav__link">MailAdmin v0.0.1</a>
      </li>
      <li class="c-footer-nav__item">
        <a href="#" class="c-footer-nav__link">Help</a>
      </li>
      <li class="c-footer-nav__item">
        <a href="#" class="c-footer-nav__link">Shortcuts</a>
      </li>
    </ul>
  </nav>
</footer>
