<div class="c-form-autocomplete  js-form-autocomplete">
  <label for="domain" class="u-sr-only">Search Domain</label>
  <input type="text" id="domain" placeholder="Search Domain" class="c-form-field c-form-field--text c-form-field--dark c-form-field--icon  c-form-autocomplete__input  js-form-autocomplete-input">

  <div class="c-form-autocomplete__panel  js-form-autocomplete-panel">
    <ul class="c-form-autocomplete__list">
      <li class="c-form-autocomplete__item">
        <a href="#" class="c-form-autocomplete__link">Entry</a>
      </li>
      <li class="c-form-autocomplete__item">
        <a href="#" class="c-form-autocomplete__link">Entry</a>
      </li>
      <li class="c-form-autocomplete__item">
        <a href="#" class="c-form-autocomplete__link">Entry</a>
      </li>
      <li class="c-form-autocomplete__item">
        <a href="#" class="c-form-autocomplete__link">Entry</a>
      </li>

      <li class="c-form-autocomplete__item">
        <a href="#" class="c-form-autocomplete__link c-form-autocomplete__link--muted">All Domains</a>
      </li>
    </ul>
  </div>
</div>
