<header class="c-action-bar c-action-bar--dark">
  <div class="c-action-bar__group">
    {{> includes/logo-header}}
  </div>

  <div class="c-action-bar__group c-action-bar__group--flexible c-action-bar__group--top">
    <div class="c-notification-container">
      {{> includes/notification-error}}
    </div>
  </div>

  <div class="c-action-bar__group c-action-bar__group--shrink">
    {{> includes/dropdown-form}}
  </div>

  <div class="c-action-bar__group">
    <div class="c-dropdown js-dropdown">
      <button class="c-button c-button--icon c-dropdown__button js-toggle-button">
        <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#account"/></svg>
        <span class="c-button__text u-sr-only">Dropdown</span>
        <svg class="c-dropdown__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#dropdown"/></svg>
      </button>

      <div class="c-dropdown__panel c-dropdown__panel--to-left c-dropdown__panel--menu js-toggle-panel">
        <ul class="c-dropdown__list">
          <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">This is a dropdown menu list item</a></li>
          <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">This is a dropdown menu list item</a></li>
          <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">This is a dropdown menu list item</a></li>
          <li class="c-dropdown__item"><a href="#" class="c-dropdown__link">This is a dropdown menu list item</a></li>

          <li class="c-dropdown__item"><a href="#" class="c-dropdown__link c-dropdown__link--muted">Footer Link</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="c-action-bar__group">
    <button class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#power"/></svg>
      <span class="c-button__text u-sr-only">Log off</span>
    </button>
  </div>
</header>
