<header class="c-action-bar c-action-bar--dark">
  {{> includes/logo-header}}

  <div class="c-action-bar__group">
    {{> includes/form-autocomplete}}

    <div class="c-dropdown  js-dropdown">
      <button class="c-button c-button--icon  c-dropdown__button  js-toggle-button">
        <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#account"/></svg>
        <span class="c-button__text  u-sr-only">Dropdown</span>
        <svg class="c-dropdown__icon"><use xlink:href="{{rel}}img/icons.svg#dropdown"/></svg>
      </button>

      <div class="c-dropdown__panel c-dropdown__panel--to-left  js-toggle-panel">
        <p>Stuff within the dropdown menu.</p>
        <p>Stuff within the dropdown menu.</p>
        <p>Stuff within the dropdown menu.</p>
      </div>
    </div>

    <button class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#power"/></svg>
      <span class="c-button__text u-sr-only">Log off</span>
    </button>
  </div>
</header>
