<a href="#" class="c-logo c-logo--light">
  <svg class="c-logo__icon c-logo__icon--header"><use xlink:href="{{rel}}img/logo.svg#logo"/></svg>
  <span class="c-logo__text c-logo__text--header">MailAdmin</span>
</a>
