<nav class="c-nav-sidebar">
  <ul class="c-nav-sidebar__list">
    <li class="c-nav-sidebar__item">
      <a href="#" class="c-nav-sidebar__link c-nav-sidebar__link--muted">
        <svg class="c-nav-sidebar__icon"><use xlink:href="{{rel}}img/icons.svg#arrow-back"/></svg>
        Domain List
      </a>
    </li>
    <li class="c-nav-sidebar__item">
      <a href="#" class="c-nav-sidebar__link">Settings</a>
    </li>
    <li class="c-nav-sidebar__item">
      <a href="#" class="c-nav-sidebar__link">Accounts</a>
    </li>
    <li class="c-nav-sidebar__item">
      <a href="#" class="c-nav-sidebar__link c-nav-sidebar__link--highlight">Aliases</a>
    </li>
    <li class="c-nav-sidebar__item">
      <a href="#" class="c-nav-sidebar__link">Mailing Lists</a>
    </li>
    <li class="c-nav-sidebar__item">
      <a href="#" class="c-nav-sidebar__link">Forwards</a>
    </li>
  </ul>
</nav>
