<div class="c-action-bar">
  <div class="c-action-bar__group  u-hide-lg u-hide-xl">
    <button class="c-icon-button  js-menu-button">
      <svg class="c-icon-button__icon"><use xlink:href="{{rel}}img/icons.svg#menu"/></svg>
      <span class="u-sr-only">Open Menu</span>
    </button>
  </div>

  <div class="c-action-bar__group c-action-bar__group--grow">
    <label for="filter" class="u-sr-only">Filter</label>
    <input type="search" id="filter" placeholder="Filter" class="c-input--icon-search c-input--no-margin">
  </div>

  <div class="c-action-bar__group">
    <button class="c-button c-button--icon">
      <svg class="c-button__icon"><use xlink:href="{{rel}}img/icons.svg#add"/></svg>
      <span class="c-button__text  u-sr-only-xs">New Domain</span>
    </button>
  </div>
</div>
