<nav class="c-side-nav">
  <ul class="c-side-nav__list">
    <li class="c-side-nav__item">
      <a href="#" class="c-side-nav__link c-side-nav__link--muted">
        <svg class="c-side-nav__icon"><use xlink:href="{{rel}}img/icons.svg#arrow-back"/></svg>
        Domain List
      </a>
    </li>
    <li class="c-side-nav__item">
      <a href="#" class="c-side-nav__link">Settings</a>
    </li>
    <li class="c-side-nav__item">
      <a href="#" class="c-side-nav__link">Accounts</a>
    </li>
    <li class="c-side-nav__item">
      <a href="#" class="c-side-nav__link">Aliases</a>
    </li>
    <li class="c-side-nav__item">
      <a href="#" class="c-side-nav__link">Mailing Lists</a>
    </li>
    <li class="c-side-nav__item">
      <a href="#" class="c-side-nav__link">Forwards</a>
    </li>
  </ul>
</nav>
