<div class="c-notification c-notification--error">
  <div class="c-notification__group">
    <svg class="c-notification__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#error"/></svg>
  </div>

  <div class="c-notification__group c-notification__group--flexible">
    <p class="c-notification__headline">Red warning of severe weather has been issued</p>
    <p class="c-notification__text">Regions affected by Red warnings: East Midlands, East of England, Grampian, London & South East England, North West England.</p>
  </div>

  <div class="c-notification__group">
    <button class="c-icon-button c-icon-button--light">
      <svg class="c-icon-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#close"/></svg>
    </button>
  </div>
</div>
