<div class="c-notification c-notification--success">
  <div class="c-notification__group">
    <svg class="c-notification__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#check-icon"/></svg>
  </div>

  <div class="c-notification__group c-notification__group--flexible">
    <p class="c-notification__headline">Notification Headline</p>
    <p class="c-notification__text">New settings for domain awesome-pictures.net successfully saved.</p>
  </div>

  <div class="c-notification__group">
    <button class="c-icon-button c-icon-button--light">
      <svg class="c-icon-button__icon"><use xlink:href="{{page 'rel'}}img/icons.svg#close-icon"/></svg>
    </button>
  </div>
</div>
