/* NAV SIDEBAR
 * Context-sensitive links for additional actions.
============================================================================= */



.c-nav-sidebar {
  display: flex;
  position: relative;
  height: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    // Push behind parent
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.8);
  }
}


// Nav Sidebar List

.c-nav-sidebar__list {
  margin: 0;
  padding: 0;

  background-color: $color-mist;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: $break-lg-min) {
    flex-grow: 1;
  }
}


// Nav Sidebar Item

.c-nav-sidebar__item {
  display: block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0.6rem;
    right: 0.6rem;

    background-color: rgba(0, 0, 0, 0.1);

    @media (min-width: $break-sm-min) {
      left: 1rem;
      right: 1rem;
    }
  }
}


// Nav Sidebar Link

.c-nav-sidebar__link {
  display: flex;
  align-items: center;
  padding: 1em 2.4rem 1em 0.6rem;

  outline: none;

  font-size: 1em;
  font-weight: 100;
  text-decoration: none;
  color: $color-charcoal;

  &:hover,
  &:focus {
    color: $color-white;
    background-color: $color-orange;
  }

  @media (min-width: $break-sm-min) {
    padding-left: 1rem;
    font-size: 1.2em;
  }

  @media (min-width: $break-lg-min) {
    padding: 0 1rem;
    height: 3.0769230769em;
    font-size: 1.3em;
  }
}

.c-nav-sidebar__link--highlight {
  color: $color-white;
  background-color: $color-orange;
}

.c-nav-sidebar__link--muted {
  color: $color-shadow;
}


// Nav Sidebar Icon

.c-nav-sidebar__icon {
  width: 1em;
  height: 1em;
  margin-right: 0.2em;

  fill: currentColor;
}
