/* NOTIFICATION
 * Fire alarm, severe weather and flood warning.
============================================================================= */



// NOTIFICATION CONTAINER
// Displays notification full width at
// the top of the parent element
// (usually the viewport or header)
// =====================================

.c-notification-container {
  // If placed inside a flex container
  // the notification shall start at the top
  // and not vertically center. Otherwise the
  // notification may leave the viewport
  // (and never comes back…)
  align-self: flex-start;
  z-index: $z-index-notification;

  @media (max-width: $break-md-max) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
  }
}



// NOTIFICATION
// =====================================

.c-notification {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.6rem;

  color: $color-white;

  background-color: $color-shadow;

  @media (min-width: $break-sm-min) {
    min-height: 4em;
    padding: 0.6rem 1rem;
  }
}



// NOTIFICATION STATES
// =====================================

.c-notification--success {
  background-color: $color-green;
}

.c-notification--error {
  background-color: $color-orange;
}



// NOTIFICATION ICON
// =====================================

.c-notification__icon {
  flex-shrink: 0;
  width: 2em;
  height: 2em;

  fill: currentColor;
}



// NOTIFICATION CONTENT GROUPING
// =====================================

.c-notification__group {
  margin-right: 0.6rem;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $break-sm-min) {
    margin-right: 1rem;
  }
}

.c-notification__group--grow {
  flex-grow: 1;
}



// NOTIFICATION CONTENT
// =====================================

.c-notification__headline {
  margin: 0 0 0.1em;

  font-size: 1.3em;
  font-weight: 100;

  @media (min-width: $break-sm-min) {
  }
}

.c-notification__text {
  margin: 0;

  font-size: 1em;
  font-weight: 100;

  @media (min-width: $break-md-min) {
    font-size: 0.9em;
  }
}
