---
title: Lists
description: They list domains, accounts, forwards and aliases
---
{{#extend "layouts/components"}}
  {{#content "content"}}
    <article class="sg-article">
      <header class="sg-article__header">
        <h2 class="sg-article__title">Domain</h2>
      </header>

      <div class="sg-article__body">

        <ul class="c-list">
          {{> includes/list-domain}}
          {{> includes/list-domain}}
          {{> includes/list-domain-inactive}}
          {{> includes/list-domain}}
          {{> includes/list-domain}}
          {{> includes/list-domain}}
        </ul>

      </div>
    </article>
  {{/content}}
{{/extend}}
