---
title: Aliases
---

{{#extend "layouts/pages"}}
{{#content "body"}}

  <div class="l-container">
    <div class="l-container__header">
      {{> includes/header-default}}
    </div>

    <div class="l-container__content">

      <aside class="l-container__sidebar  js-sidebar">
        {{> includes/nav-sidebar}}
      </aside>

      <main class="l-container__main l-container__main--sidebar">
        {{> includes/nav-horizontal-filter}}

        <ul class="c-list">
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias-inactive}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
          {{> includes/list-alias}}
        </ul>

        {{> includes/pagination}}
      </main>
    </div>

    <div class="l-container__footer">
      {{> includes/footer-logged-in}}
    </div>
  </div>

{{/content}}
{{/extend}}
