---
title: Domain List
---

{{#extend "layouts/pages"}}
{{#content "body"}}

  <div class="l-container">
    <div class="l-container__header">
      {{> includes/header-default}}
    </div>

    <div class="l-container__content">
      {{> includes/nav-horizontal-filter}}

      <ul class="c-list">
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain-inactive}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
        {{> includes/list-domain}}
      </ul>

      {{> includes/pagination}}
    </div>

    <div class="l-container__footer">
      {{> includes/footer-logged-in}}
    </div>
  </div>

{{/content}}
{{/extend}}
