---
title: Domain List
---

{{#extend "layouts/pages"}}
{{#content "body"}}

  <div class="l-container">
    <div class="l-container__row">
      <div class="l-container__item">
        {{> includes/header-default}}
      </div>
    </div>

    <div class="l-container__row l-container__row--grow">

      <div class="l-container__item l-container__item--20">
        {{> includes/nav-sidebar}}
      </div>

      <div class="l-container__item l-container__item--80">
        {{> includes/nav-horizontal-filter}}

        <ul class="c-list">
          {{> includes/list-domain}}
          {{> includes/list-domain}}
          {{> includes/list-domain-inactive}}
          {{> includes/list-domain}}
          {{> includes/list-domain}}
          {{> includes/list-domain}}
        </ul>

        {{> includes/pagination}}
      </div>
    </div>

    <div class="l-container__row">
      <div class="l-container__item">
        {{> includes/footer-logged-in}}
      </div>
    </div>
  </div>

{{/content}}
{{/extend}}
