---
title: Login
description:
category: Pages
---
{{#extend "layouts/pages"}}
{{#content "body"}}

  <div class="l-login">
    <div class="l-login__logo">
      <div class="c-logo c-logo--dark">
        <svg class="c-logo__icon"><use xlink:href="{{page 'rel'}}img/logo.svg#logo"/></svg>
        <span class="c-logo__text">MailAdmin</span>
      </div>
    </div>

    <div class="l-login__form">
      {{> includes/box-login}}
    </div>

    <div class="l-login__footer">
      {{> includes/footer-login}}
    </div>
  </div>

{{/content}}
{{/extend}}
