---
title: Login
---

{{#extend "layouts/pages"}}
{{#content "body"}}

  <div class="c-logo c-logo--dark">
    <svg class="c-logo__icon"><use xlink:href="{{rel}}img/logo.svg#logo"/></svg>
    <span class="c-logo__text">MailAdmin</span>
  </div>

  {{> includes/box-login}}

  {{> includes/footer-login}}

{{/content}}
{{/extend}}
