---
title: Settings
---

{{#extend "layouts/pages"}}
{{#content "body"}}

  <div class="l-container">
    <div class="l-container__header">
      {{> includes/header-default}}
    </div>

    <div class="l-container__content">

      <aside class="l-container__sidebar  js-sidebar">
        {{> includes/nav-sidebar}}
      </aside>

      <main class="l-container__main l-container__main--sidebar">
        {{> includes/nav-horizontal-title}}

        <div class="l-grid">
          <div class="l-grid__item">{{> includes/box-form}}</div>
          <div class="l-grid__item">{{> includes/box-login}}</div>
          <div class="l-grid__item">{{> includes/box-text}}</div>
        </div>
      </main>
    </div>

    <div class="l-container__footer">
      {{> includes/footer-logged-in}}
    </div>
  </div>

{{/content}}
{{/extend}}
