/* FRONT END STYLEGUIDE
 * for style guide driven development
 *
 * Fynn Becker <info@fynn-becker.de>
 * ========================================================================== */



// Do not put style declarations in this main Sass file.
// Only @import styles or definitions from other files.
// =========================================================



/*

Prefixes for CSS classes
----------------------------------------
 l- : Layout
 c- : Component
 u- : Utility
js- : JavaScript Hook

is- / has- : State


Naming convention for CSS classes
----------------------------------------
.prefix-block__element--modifier

*/



// SETUP
// =========================================================

@import 'setup/normalize';
@import 'setup/variables';



// FUNCTIONS
// =========================================================

@import 'functions/svg-url';


// MIXINS
// =========================================================

@import 'mixins/sr-only';



// BASE
// =========================================================

@import 'base/forms';
@import 'base/buttons';
@import 'base/scaffolding';
@import 'base/typography';
@import 'base/utilities';



// LAYOUT
// =========================================================

@import 'layout/container';
@import 'layout/grid';
@import 'layout/login';



// COMPONENTS
// =========================================================

@import 'components/action-bar';
@import 'components/box';
@import 'components/dropdown';
@import 'components/footer';
@import 'components/list';
@import 'components/logo';
@import 'components/nav-sidebar';
@import 'components/notification';
@import 'components/pagination';
